body {
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(217, 216, 216);
}

h1 {
    text-align: center;
}

.input-divs,
p,
.start {
    border: 1px solid black;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
    background-color: rgb(222, 113, 113);
}

form{
    min-width: 100px;
}

.invisible {
    display: none;
}

.container,
.submit-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.col {
    
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
}

.row,
.input-divs {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.on-hover {
    background-color: rgb(197, 197, 197);
}
